* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(29, 27, 27);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* background styling */
.background-container {
    height: 80%;
    width: 20%;
    background-image: url("images/forest.jpeg");
    background-position: center;
    background-size: cover;
}

.logo-container {
    position: relative;
    top: 20%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.575);
    color: whitesmoke;
    align-items: center;
    justify-content: center;
}

.fa-hat-wizard {
    margin: 20px 10px;
    font-size: 80px;
}

.logo-container p {
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}


/* main styling */
.main-container {
    height: 80%;
    width: 35%;
    background-color: white;
}

.call-to-action {
    padding: 200px 200px 0 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.411);
}

/* form container styling */
fieldset {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: none;
}

.form {
    padding: 50px 0;
}

legend {
    margin-bottom: 20px;
}

.input-row {
    display: flex;
    gap: 20px;
}

.input-item {
    display: flex;
    flex-direction: column;
    width: 50%;
}

/* input styling */
input {
    height: 30px;
    border: 1px solid rgba(190, 184, 184, 0.555);
    border-radius: 5px;
    width: 80%;
}

.enter {
    padding: 20px 200px  0 50px;
}

.enter button {
    color: white;
    background-color: rgb(97, 197, 97);
    border: none;
    border-radius: 8px;
    padding: 10px 40px;
    cursor: pointer;
    margin-bottom: 20px;
}

.enter button:hover {
    background-color: green;
}